name: Unit Tests

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y xvfb libsdl2-dev cmake

    - name: Configure CMake (Standalone Tests)
      run: cmake -B build_tests -S tests

    - name: Build Tests
      run: cmake --build build_tests

    - name: Run Tests
      working-directory: build_tests
      run: xvfb-run ctest --output-on-failure
