name: Unit Tests

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y xvfb libsdl2-dev cmake

    - name: Configure CMake (Standalone Tests)
      run: cmake -B build_tests -S tests

    - name: Build Unit Tests
      run: cmake --build build_tests

    - name: Run Unit Tests
      working-directory: build_tests
      run: xvfb-run ctest -R "CoreLibTest|GUITest" --output-on-failure --output-junit testReport.xml

    - name: Test Report
      uses: EnricoMi/publish-unit-test-result-action/linux@v2
      if: runner.os == 'Linux'
      with:
        files: build_tests/**.xml
